/* *{
    margin: 0;
    padding: 0;
}

.icon{
    width: 20px;
    height: 20px;
}

body{
    background-color: rgb(84, 84, 84);
    height: 1000px;
}

nav{
    background-color: black;
}

nav ul li a{
    background-color: black;
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    background-color: black;
    color: orangered;
    text-decoration: none;
}

section{
    padding: 10%;
}

footer{
    height: 5%;
    background-color: black;
    margin-bottom: 0;
} */